*{
    margin: 0;
    padding: 0;
}

main{
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
}
.player img{
    border: 2px solid gray;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin-right: 10px;
}
.top_players, .blogs{
    display: grid;
    grid-gap: 30px;
    margin-top: 20px;
    place-items: center;
}

.top_players{
    grid-template-columns: repeat(4, 1fr);
}
.blogs{
    grid-template-columns: repeat(3, 1fr);
}

.player, .blog{
    display: flex;
    align-items: center;
}

.thambnail img{
    width: 200px;
    margin-right: 20px;
}
@media (max-width:992px){
    .top_players{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        margin-top: 20px;
}
    .blogs{
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width:767px){
    .top_players{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        margin-top: 20px;
}
    .blogs{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width:567px){
    .top_players{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        margin-top: 20px;
}
.blog{
    display: block;
}
}

.Top_Blog{
    margin-top: 20px;
}